:root {
  --dark: #161516;
  --goat-img: rgba(211, 205, 64, 1);
  --gold: #8e793e;
  --hover-dark: rgb(24, 10, 4);
  --light: #eaeaea;
  --light-gold: #dfd5b6;
  --navbar-bg-color: rgba(255, 249, 85, 0.719);
}
* {
  border: none;
  margin: 0;
  outline-color: rgb(255, 198, 108, 255);
  outline-width: 1px;
  padding: 0;
}
/* Scroll */
/* Firefox */
* {
  scrollbar-color: #c89c47 #363636;
  scrollbar-width: thin;
}
.section-wrapper {
  scrollbar-color: #c89c47 #363636;
  scrollbar-width: thin;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #363636;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  border: 1px solid #c89c47;
  border-radius: 3px;
}
.section-wrapper::-webkit-scrollbar {
  width: 4px;
}
.section-wrapper::-webkit-scrollbar-track {
  background: #363636;
}
.section-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  border: 1px solid #c89c47;
  border-radius: 1px;
}
/* end of scroll */
body {
  animation: open 0.2s;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
button,
a {
  cursor: pointer;
}
@keyframes open {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.site-wrapper {
  align-items: center;
  font-family: "Alegreya", serif;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
  position: relative;
  scroll-behavior: smooth;
  transform-origin: (-50%);
  width: 100vw;
}
header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  z-index: -1;
}
header img {
  max-height: 100%;
  max-width: 100%;
  transform: translateZ(-20px) scale(3.7);
  z-index: -1;
}
.main-section {
  align-items: flex-start;
  background-color: inherit;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.column {
  align-items: center;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
  width: 95%;
}
/* PROJECT SECTION */
.section {
  align-items: start;
  display: flex;
  flex-flow: column;
  width: 900px;
}
.cards {
  display: flex;
  flex-flow: column wrap;
  gap: 7px;
  height: 2165px;
}
.segment {
  border: #8e793e solid 2px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  height: fit-content;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 420px;
}
.segment img {
  align-self: center;
  border-radius: 3px;
  cursor: pointer;
  max-width: 400px;
  width: 90%;
}
.segment video {
  max-height: 100%;
}
h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  margin: 10px 0;
}
.dark {
  background-color: var(--dark);
  color: rgb(246, 255, 193);
}
.light {
  background-color: var(--light);
  color: #1b1401;
}
.movie {
  cursor: default;
  justify-content: space-around;
}
.movie video {
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 55px -10px var(--dark);
  width: 70%;
}
.last {
  width: 100%;
}
.last .segment {
  column-gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 1fr;
  width: 872px;
}
.last h2 {
  grid-area: 2/1/3/2;
  margin: auto;
  text-align: center;
}
.last img {
  align-self: center;
  float: left;
  grid-area: 1/1/2/2;
  justify-self: center;
  max-height: 100%;
}
.last p {
  align-self: flex-start;
  grid-area: 1/2/-1/-1;
  overflow: auto;
  padding-right: 7px;
}
@media (max-width: 945px) {
  .section {
    align-items: center;
  }
  .cards {
    display: grid;
    grid-template-columns: auto;
    height: auto;
    justify-content: center;
  }
  .first {
    grid-area: 1/1/2/2;
  }
  .second {
    grid-area: 2/1/3/2;
  }
  .third {
    grid-area: 4/1/5/2;
  }
  .forth {
    grid-area: 5/1/6/2;
  }
  .fifth {
    grid-area: 3/1/4/2;
  }
  .sixth {
    grid-area: 6/1/7/2;
  }
  .seventh {
    grid-area: 7/1/8/2;
  }
  .eight {
    grid-area: 8/1/9/2;
  }

  .last {
    margin-top: 7px;
    width: auto;
  }
  .last .segment {
    border: #8e793e solid 2px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    height: fit-content;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    width: 420px;
  }
  .info {
    align-self: center !important;
    flex-direction: column;
    width: 95% !important;
  }
  .about-us {
    height: 470px !important;
  }
}

@media (max-width: 690px) {
  .cards {
    grid-template-columns: auto;
  }
  .segment {
    align-self: center;
    font-size: 1rem;
    height: fit-content;
    width: 300px !important;
  }
  .info {
    flex-direction: column;
    left: 0 !important;
    width: 85%;
  }
  .about-us {
    width: 270px !important;
    display: block;
    height: 600px !important;
  }
  .about-us .section-wrapper {
    margin-right: 0;
  }
  .about-us p {
    height: auto;
  }
  .about-us img {
    width: 60%;
    margin-right: 10px;
  }

  .contact-us {
    background-color: transparent !important;
    border: transparent !important;
    padding: 20px 0;
    width: calc(75vw + 50px) !important;
  }
  .contact-us h2 {
    background-color: var(--dark);
    border: #8e793e solid 2px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.921);
    padding: 10px;
    text-align: center;
    width: 95%;
  }
  .card {
    min-width: 0px !important;
    width: 120% !important;
  }
}
/* END OF PROJECTS */
/* ABOUT SECTION */

.contact-us,
.info {
  width: 840px;
}
.info {
  align-items: center;
  align-self: flex-end;
  background-color: rgb(35, 35, 19);
  border: #8e793e solid 2px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.921);
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  padding: 0 25px;
  position: relative;
}
.about-us {
  margin-top: 15px;
}

.info img {
  border-radius: 15px;
  float: right;
  max-height: 250px;
  width: auto;
}
.section-wrapper {
  margin: 25px 25px 25px 10px;
  height: inherit;
  overflow-y: auto;
  padding-right: 4px;
}

.section-wrapper p {
  font-size: 1.1rem;
}
/* END OF ABOUT */
/* CONTACT */
.contact-us {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 25px;
  row-gap: 25px;
}
.contact-us .container {
  align-items: center;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  width: 100%;
}
.contact-us h2 {
  align-self: center;
  justify-self: center;
  margin: 0;
}
.contact-us .card {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  justify-self: center;
  min-width: 350px;
  padding: 15px 10px;
  width: 40%;
}
.card h3 {
  align-items: center;
  color: rgba(255, 255, 255, 0.921);
  column-gap: 25px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  height: 56px;
  justify-content: space-between;
  margin: 0;
  padding: 0 10px;
  width: 100%;
}
.card span,
.card a {
  color: rgba(255, 255, 255, 0.921);
  text-align: right;
  transition: color 0.5s linear, transform 1s;
}
.card .icons {
  display: block;
  height: 85%;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  width: 70px;
}
.icons i {
  align-items: center;
  display: flex;
  font-size: 30px;
  height: 100% !important;
  justify-content: center;
  line-height: 40px;
  transition: transform 0.3s linear, color 0.2s ease-in;
  width: 100%;
}
.back {
  color: var(--gold);
  transform: rotateX(180deg);
}
.card h3:hover .icons .front {
  color: #c89c47;
  transform: translateY(-100%) rotateX(90deg);
}
.card h3:hover .back {
  color: #c89c47;
  transform: translateY(-100%) rotateX(0);
}
.card h3:hover > span,
.card h3:hover > a {
  color: #c89c47;
  transform: scaleX(1.02);
  transform-origin: right;
}
.card:first-child {
  justify-content: space-around;
}
/* END OF CONTACT */
/* FOOTER */
footer {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  background-color: var(--dark);
  border-radius: 40px 40px 10px 10px;
  height: 60px;
  margin: 25px auto 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
footer h3 {
  font-size: 14px;
  font-weight: 100;
  height: 50px;
  left: 50%;
  min-width: 300px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  transform: translate(-50%, -10%);
  width: 50vw;
}
@keyframes openFooter {
  from {
    border-radius: 100%;
    width: 0%;
  }
}
span.border {
  animation-duration: 3s;
  border-color: #8e793e;
  border-top: solid 5px;
  color: #8e793e;
  display: block;
  position: absolute;
}
.border1 {
  border-radius: 70px 0 0 0;
  height: 50px;
  right: 50%;
  top: 0;
  width: 50%;
}
.border2 {
  border-radius: 0 70px 0 0;
  height: 50px;
  left: 50%;
  top: 0;
  transform-origin: right;
  width: 50%;
}
@keyframes borderAnimation {
  0%,
  10% {
    border-radius: 0 0 0 0;
    transform: translateY(-5px);
    width: 0;
  }
  55% {
    border-radius: 0 0 0 0;
    transform: translateY(0px);
    width: 50%;
  }
  100% {
  }
}
.paw {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  transform: rotate(-35deg);
}
.paw1 {
  animation-delay: 10.2s;
  left: 25px;
  top: 25%;
}
.paw2 {
  animation-delay: 10s;
  left: 13px;
  top: 49%;
}
@keyframes pawBlink {
  to {
    opacity: 1;
  }
}
.paw img {
  filter: invert(67%) sepia(100%);
  height: 13px;
  width: 13px;
}
.cat1 {
  background-color: red;
  height: 0;
  position: relative;
}
.cat1 img {
  animation-delay: 12s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  filter: invert(100%) sepia(100%);
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 10px;
  transform: rotate(19deg) translateY(30px);
  width: 40px;
}
@keyframes catAppear {
  0%,
  94% {
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(19deg) translateY(0px);
  }
}
/* NAVBAR */
.navbar {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 1s, top 0.3s, height 0.3s;
  width: calc(100% - 8px);
  z-index: 5;
}
@media (min-width: 690px) {
  .moving {
    background-color: #111103c0;
    height: 50px;
  }
}
.burger {
  aspect-ratio: 1;
  background-color: transparent;
  display: flex;
  height: 55%;
  justify-content: center;
  position: absolute;
  right: -200px;
  top: 22.5%;
  transition: right 0.5s;
  z-index: 10;
}
.burger div {
  background-color: #c89c47;
  height: 3px;
  position: absolute;
  transition: transform 0.8s, opacity 0.8s, background-color 1s;
  transition: all 0.8s;
  width: 80%;

  /*  */
}
.burger.click > div {
  background-color: #161516;
}
.burger.click > div:nth-child(1) {
  transform: translate(0, 11.5px) rotateZ(-45deg);
}
.burger.click > div:nth-child(2) {
  opacity: 0;
}
.burger.click > div:nth-child(3) {
  transform: translate(0, -11.5px) rotateZ(45deg);
}
.burger div:nth-child(1) {
  top: calc(25% - 1.5px);
}
.burger div:nth-child(2) {
  top: calc(50% - 1.5px);
}
.burger div:nth-child(3) {
  top: calc(75% - 1.5px);
}
.nav-items {
  align-items: center;
  align-self: self-start;
  display: flex;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.25rem;
  height: 100%;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 10px;
  position: relative;
  transition: width 0.3s;
  width: 500px;
}
.nav-items li {
  margin: 0 20px;
}
.item {
  color: var(--light-gold);
  position: relative;
  text-decoration: none;
  transition: left 0.5s;
  white-space: nowrap;
}
.item::before,
.item::after {
  background-color: transparent;
  content: "";
  height: 130%;
  position: absolute;
  transition: transform 0.4s;
  width: 122%;
}
.item::before {
  border-bottom: solid;
  border-bottom-left-radius: 5px;
  border-color: #c89c47;
  border-left: solid;
  border-width: 1px;
  bottom: -15%;
  left: -9%;
  transform: scale(0);
  transform-origin: bottom left;
}
.item::after {
  border-color: #c89c47;
  border-right: solid;
  border-top: solid;
  border-top-right-radius: 5px;
  border-width: 1px;
  right: -7%;
  top: -7%;
  transform: scale(0);
  transform-origin: top right;
}
.item:hover {
  color: #c89c47;
}
.item:hover::before,
.item:hover::after {
  transform: scale(1);
}
.navbar .goat {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100px;
}
.img-wrapper {
  cursor: default;
  height: 100%;
  position: relative;
  width: 100px;
}
.logo {
  height: 100%;
  transition: filter 1s, transform 0.3s;
}
.img-wrapper:hover > .logo {
  transform: scale(1.05) rotate(19deg);
}
.img-wrapper::after,
.img-wrapper::before {
  background-color: rgb(255, 198, 108, 255);
  border-radius: 3px;
  content: "";
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 55%;
  width: 4px;
}
.img-wrapper::before {
  left: 51%;
}
.img-wrapper::after {
  right: 36%;
}
.moving .img-wrapper::before,
.moving .img-wrapper::after {
  width: 3px;
}
.moving .img-wrapper::before {
  left: 50%;
}
.moving .img-wrapper::after {
  right: 41%;
}
.img-wrapper:hover::before,
.img-wrapper:hover::after {
  animation: blink 1s;
  animation-delay: 0.3s;
}
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50%,
  70% {
    opacity: 1;
  }
}
@media (max-width: 690px) {
  .moving .img-wrapper::after {
    right: 37%;
  }
  .moving .img-wrapper::before {
    left: 51%;
  }
  .moving {
    background-color: #111103c0;
  }
  .moving:has(.small-onclick) {
    background-color: transparent;
  }
  .burger {
    right: 20px;
  }
  .nav-items {
    margin: 0;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
  }
  .item {
    left: 700px;
  }
  .logo {
    transform: rotate(19deg);
  }
  .logo-onclick {
    background-color: var(--navbar-bg-color);
  }
  .small-onclick {
    animation: openmini 0.5s;
    background-color: var(--navbar-bg-color);
    flex-direction: column;
    height: 200px;
    padding: 0;
    transform: scaleX(1);
    width: 100%;
  }
  .small-onclick .item {
    color: var(--hover-dark);
    left: 0;
  }
  .small-onclick .item::before,
  .small-onclick .item::after {
    border-color: var(--hover-dark);
  }
  @keyframes openmini {
    0% {
      height: 100%;
      transform: scaleX(0);
    }
    50% {
      height: 100%;
      transform: scaleX(1);
    }
    100% {
      height: 200px;
    }
  }
  .closing {
    left: 700px !important;
  }
  .small-onclick-close {
    animation: closemini 0.5s;
    animation-delay: 0.2s;
  }
  @keyframes closemini {
    0% {
      height: 200px;
      transform: scaleX(1);
    }
    50% {
      height: 100%;
      padding: 0;
      transform: scaleX(1);
    }
    100% {
      height: 100%;
      transform: scaleX(0);
    }
  }
}
/* END OF NAVBAR */
